@charset "UTF-8";

#containerMenuEsquerdo{
	display:flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-color: rgba(242, 162, 44, 0.58);
	height: inherit;
	border-radius: 10px;
}
h1{
	color: #AF6B06;
	font-size: 30px;
	
}

.botao {
	
	border-radius: 15px;
	font-size:20px;
	border:none;
	padding:15px;
	width: 300px;
	width: 220px;
}
.botao:hover {
	
	cursor: pointer;
}

.botao.menu-esquerdo{
	
	background: linear-gradient(to bottom, #ffbb53 5%, #ff9e00 100%);
	background-color:#ffd042;
	color : white;
	/*background-color: #f2a22c;*/
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	
}

.botao.menu-superior{
	color : white;
    background: linear-gradient(to bottom, #ff9a00 5%, #d06000 100%);
	background-color: #ff9a00;
	margin-bottom: 20px;
	margin-top:20px;
	margin-right:20px;
	margin-left:20px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	
	
}


#containerMenuSuperior{
	background-color: #F2A22C;
	height: 82px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	text-align: center;
	justify-content: space-between;
	border-radius: 10px;
	
}

#containerConteudoCentro{
	display:flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	text-align:center;
	justify-content: space-around;
	border-radius: 10px;
	border:2px solid black;
	background: linear-gradient(to bottom, #efe4d5 5%, #ffe2b2 100%);
	height: inherit;
	
	
}

#formCadastro{
	display:flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: flex-start;
	text-align:center;
	justify-content: space-around;
}
.campoInputCadastro{
	background-color: black;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    border: none!important;
    padding: 15px 30px;
    height: 25px;
    font-size: 20px;
    outline-style: none;
    
    height: 40px;
    width: 300px;
	
}
.form-botao{
	
	margin:20px 0px 20px 0px;
	background: linear-gradient(to bottom, #ffbb53 5%, #ff9e00 100%);
    background-color: #ffd042;
    color: white;
}

#containerMenuDireito{
	display:flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-color: rgba(242, 162, 44, 0.58);
	height: inherit;
	border-radius: 10px;
}


#containerRodape{
	
	
	text-align:center;
	background-color: #F2A22C;
	height: 165px;
	 border-radius: 10px;
	
}

#containerRodape h1{
 font-size:20px;
 padding-top:20px;

}

#containerInformacoes{
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	text-align:center;
	justify-content: space-around;
	
	
}
.informacoes{
	font-size: 15px;
	margin:15px 30px 15px 30px;
}


div {
 border:none!important;
}

